In [1]:
import mpcorbfile

In [2]:
#Class to drive 
f=mpcorbfile.mpcorb_file()

In [3]:
"""
CALCULATE DATES FROM COMPRESSED EPOCH
Examples:

        1996 Jan. 1    = J9611
        1996 Jan. 10   = J961A
        1996 Sept.30   = J969U
        1996 Oct. 1    = J96A1
        2001 Oct. 22   = K01AM

        This system can be extended to dates with non-integral days. The decimal fraction of the day is simply appended to the five characters defined above.

        Examples:

        1998 Jan. 18.73     = J981I73
        2001 Oct. 22.138303 = K01AM138303
"""        
for p in ['J9611','J961A','J969U','J96A1','K01AM']:
        print(p,f.compressed_epoch_to_datetime(p))

J9611 1996-01-01 00:00:00
J961A 1996-01-10 00:00:00
J969U 1996-09-30 00:00:00
J96A1 1996-10-01 00:00:00
K01AM 2001-10-22 00:00:00

In [4]:
#load MPCORB.DAT
bodies=f.read('MPCORB_TEST.DAT')
#bodies=f.read('MPCORB_TEST.DAT')

In [5]:
#Write new file
f.write('new_mcorb.dat')

True

In [6]:
#Convert float strings to float
#convert compressed epoch to epoch
bodies=f.to_numeric()

In [7]:
import pandas as pd
pd.DataFrame(bodies)

,nombre,G,H,a,e,i,n,Peri,Node,M,epoch,rest
0,a7943,24.19,0.15,0.910232,0.089468,11.61020,1.134948,195.63684,146.91033,184.75380,K2555,2 E2024-JU2 1055 2 2012-2013 0.36 M-v 3Ek ...
1,00001,3.34,0.15,2.766051,0.079401,10.58780,0.214247,73.27343,80.25221,188.70269,K2555,0 E2024-V47 7330 125 1801-2024 0.80 M-v 30k ...
2,00002,4.11,0.15,2.770194,0.230540,34.92402,0.213766,310.91037,172.89530,168.79870,K2555,0 E2024-V16 8964 123 1804-2024 0.75 M-c 28k ...
3,00003,5.18,0.15,2.670670,0.255947,12.98651,0.225826,247.85972,169.82994,172.45499,K2555,0 E2024-V16 7523 117 1804-2024 0.83 M-v 3Ek ...
4,00004,3.25,0.15,2.361397,0.090107,7.14394,0.271613,151.58335,103.70297,332.45069,K2555,0 E2024-V16 7647 111 1821-2024 0.82 M-p 18k ...
...,...,...,...,...,...,...,...,...,...,...,...,...
13188,13189,14.41,0.15,2.291135,0.178434,10.40885,0.284203,149.24916,94.19483,317.28916,K2555,0 E2025-D12 2344 22 1980-2025 0.70 M-v 3Ek ...
13189,13190,14.79,0.15,2.189253,0.078847,5.67910,0.304271,252.46246,318.94167,189.11696,K2555,0 MPO887472 4143 22 1984-2025 0.61 M-v 3Ek ...
13190,13191,14.82,0.15,2.292348,0.055262,7.05638,0.283977,339.90404,137.91016,79.99250,K2555,0 E2025-DB9 3896 22 1976-2025 0.59 M-v 3Ek ...
13191,13192,15.29,0.15,2.287851,0.143447,0.66440,0.284815,276.55546,323.34229,338.90662,K2555,0 E2025-D47 2127 22 1978-2025 0.78 M-v 3Ek ...
13192,13193,14.63,0.15,2.332799,0.111832,4.20635,0.276623,144.86307,40.77611,303.45646,K2555,0 E2025-D12 4973 22 1990-2025 0.58 M-v 3Ek ...

In [8]:
f.write_json('mpcorb.json')